<div class="feed">
  <%= link_to project.name, project %> -
  created <%= time_ago_in_words(project.created_at) %> ago -
  <%= project.remaining_time %> to go
  <% if self?(project.owner) %>
  <ul class="control">
    <li><%= link_to '', edit_project_path(project), class: "fa fa-pencil-square" %></li>
    <li>
      <%= link_to '', project, method: :delete, class: "fa fa-times",
            confirm: "Are you sure you want to remove this project!?" %>
    </li>
  </ul>
  <% end %>
  </div>

