
<h1>If you pledge $<%= breakpoint.amount %></h1>

<p><%= markdown(breakpoint.description) %></p>

<p><%= link_to 'Back this project', new_pledge_path(breakpoint_id: breakpoint.id), class: 'btn' %></p>

<% if breakpoint.project.owner == current_user %>
<p><%= link_to "Edit this breakpoint", edit_project_breakpoint_path(breakpoint.project, breakpoint) %></p>
<p><%= link_to "Remove this breakpoint", project_breakpoint_path(breakpoint.project, breakpoint), method: :delete %></p>
<% end %>