
<h1>If you pledge $<%= breakpoint.amount %></h1>

<p><%= markdown(breakpoint.description) %></p>

<p><%=  %></p>

<% if breakpoint.project.user == current_user %>
<p><%= link_to "Edit this breakpoint", edit_project_breakpoint_path(breakpoint.project, breakpoint) %></p>
<p><%= link_to "Remove this breakpoint", project_breakpoint_path(breakpoint.project, breakpoint), method: :delete %></p>
<% end %>