<% provide :page_title, @user.username %>

<div class="user-profile">
  <div class="user-gravatar">
    <%= image_tag @user.gravatar, class: "gravatar" %>
  </div>
  <p class="username"><%= @user.username %></p>
  <p class="email"><%= @user.email %></p>
  <ul class="control">
    <li><%= link_to 'edit', edit_user_path(@user), class: "control" %></li>
  </ul>
</div>

<div class="user-projects">
	<h1>Your Projects</h1>
	<%= render @projects %>
</div>

<div id="total-money-pledged">
</div>

<div class="backed-projects">
  <h1>Projects You have backed</h1>
  <br>
  <%= render @pledges %>
</div>
