<% provide :page_title, @project.name %>

<div id="project-<%= @project.id %>" class="project-page">
  <div class="project-name"><%= @project.name %></div>
  <div class="project-owner">
    by <%= link_to @project.owner.username, @project.owner %>
  </div>
  <div class="project-description"><%= markdown(@project.description) %></div>
  <div class="project-progress">

  </div>
</div>

<div class="project-sidebar">
  <div class="number-of-backers"><%= @project.backers.count %> Backers</div>
  <div class="total-pledged">
    $ <%= @project.total_pledged %> pledged of $ <%= @project.goal %> goal
  </div>
  <div class="remaining-days"><%= @project.remaining_time %> to go</div>

  <div class="project-owner-profile">
    <legend class="title">Owner Profile</legend>
    <%= image_tag @project.owner.gravatar(100), class: "gravatar" %>
    <div class="owner-username"><%= @project.owner.username %></div>


  </div>

</div>

<% if @project.owner == current_user %>
  <p><%= link_to "Edit this Project", edit_project_path(@project) %></P>
  <p><%= link_to "Delete this Project", @project, method: :delete %></P>
<% end %>

<% if @project.owner == current_user %>
<%= link_to "Create a New Breakpoint", new_project_breakpoint_path(@project) %>
<% end %>
