<% provide :page_title, @project.name %>

<div id="project-<%= @project.id %>" class="project-page">
  <div class="project-name"><%= @project.name %></div>
  <div class="project-owner">
    by <%= link_to @project.owner.username, @project.owner %>
  </div>
  <div class="project-description"><%= markdown(@project.description) %></div>
  <div class="project-progress">

  </div>
</div>

<div class="project-sidebar">

  <div class="project-backers">
    <p class="backers">
      <%= @project.backers.count %><small class="label">Backers</small>
    </p>
  </div>

  <div class="project-total-pledged">
     <div class="pledged-amount">
      $ <%= @project.total_pledged %>
      <small class="label">pledged of $ <%= @project.goal %></small>
    </div>

    <input type="text" class="pledged-graph" value="<%= @project.percent_complete %>" data-min="0" data-max="<%= @project.next_goal_level %>" data-width="100">

  </div>

  <div class="project-remaining">
    <%= @project.remaining_time %><small class="label">to go</small>
  </div>

  <div class="project-owner-profile">
    <legend class="title">Owner Profile</legend>
    <%= image_tag @project.owner.gravatar(100), class: "gravatar" %>
    <div class="owner-username"><%= @project.owner.username %></div>
    <div class="owner-contact"><%= mail_to @project.owner.email %></div>
  </div>

  <div class="project-breakpoints">
    <% @project.breakpoints.each do |b| %>
    <% if signed_in? && !@project.is_backer?(current_user) %>
      <%= link_to pledges_path(pledge: { amount: b.amount, breakpoint_id: b.id }), method: :post, remote: true, class: 'pledge-btn', disabled: true do %>
      <div class="breakpoint" id="breakpoint-<%= b.id %>">
        <div class="amount">$ <%= b.amount %></div>
        <div class="description"><%= markdown(b.description) %></div>
      </div>
      <% end %>
    <% end %>
    <% else %>

  <% end %>
  </div>

</div>



<% if @project.owner == current_user %>
  <p><%= link_to "Edit this Project", edit_project_path(@project) %></P>
  <p><%= link_to "Delete this Project", @project, method: :delete %></P>
<% end %>

<% if @project.owner == current_user %>
<%= link_to "Create a New Breakpoint", new_project_breakpoint_path(@project) %>
<% end %>
