<div class="project-feed">

  <% if self?(project.owner) %>
  <ul class="control">
    <li><%= link_to '', project_breakpoints_path(project), class: "fa fa-signal" %></li>
    <li>
      <%= link_to '', new_project_breakpoint_path(project), class: "fa fa-plus-square" %>
    </li>
    <li><%= link_to '', edit_project_path(project), class: "fa fa-pencil-square" %></li>
    <li>
      <%= link_to '', project, method: :delete, class: "fa fa-times",
            confirm: "Are you sure you want to remove this project!?" %>
    </li>
  </ul>
  <% end %>

  <%= link_to project.name, project, class: "project-name" %>
  <small class="created">
    created <%= time_ago_in_words(project.created_at) %> ago
  </small>
  <div class="project-dashboard">
    <div class="goal">
      <span class="fa fa-dot-circle-o"></span>
      <small class="label">Goal:</small> $<%= project.goal %>
    </div>

    <input type="text" class="backers-knob" data-min="0" value="<%= project.backers.count %>" data-width="100">

    <input type="text" class="totals-knob" data-min="0" value="<%= project.total_pledged %>" data-max="<%= project.goal %>" data-width="100">

    <input type="text" class="time-to-go-knob" data-min="0" value="<%= project.remaining_days %>" data-width="100" data-max="9">

  </div>

</div>

